.jumbotron{style:"height:100%"}
  %h1.text-center The Fitness Planner!
  %br
  %br
  %a.btn.btn-success{style:"width:100%;", href: "/meals"} The Meal Planner
  %br
  %br
  %a.btn.btn-info{style:"width:100%;", href: "/exercise"} The Exercise Planner

