%html
  %head
    %title Csen906
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.container-fluid
    = yield

  = javascript_include_tag 'application', 'data-turbolinks-track' => true
